Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
aniso8601==0.82
gunicorn==18.0
itsdangerous==0.24
numpy==1.8.1
pandas==0.13.1
python-dateutil==2.2
pytz==2014.2
requests==2.2.1
six==1.6.1
wsgiref==0.1.2
