@charset "UTF-8";
/* CSS Document */

/* Our Selectors Include: "p", ".container", "input", "#submit", and "img"*/
/* Property Types Include: "font-family:", "background-color", "text-algin", "font-size", "margin-left" */

html {font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	  background-color:#9FC;
	  text-align:center
	  }
p {font-size:70%;
   color:#999999}
.container {text-align:center}
h1 {text-align:center}
input {color:#999}
#submit {color:#000}

img{margin-left: auto;
    margin-right: auto
}
