<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        	<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
		<title>404 Not Found</title>
	</head>

	<body>
		<h1>Ugh-oh!</h1>
	404 Not Found
		<h3> It looks like this short path has not been associated with any long URL yet.</h3>
		<img alt = "Lump Space Princess" src="http://25.media.tumblr.com/tumblr_mea24jLKNx1rkiy6bo1_250.gif"  width="350" height="300">
	</body>

		<h1> <a href="/home">Return Home</a> </h1>
    
</html>
